@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(241, 240, 240);  /* rgb(42, 182, 203); */
  font-weight: 325; /* Ustawienie cienkiego (thin) stylu czcionki */
}


.fullscreen-image {
  position: relative;
  height: 100vh;
  background-image: url('./Zdj/723A3815.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed to flex-start to align items to the top */
  color: white;
  text-align: center;
  transition: height 0.5s ease;
}

.fullscreen-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Change brightness filter to a semi-transparent overlay */
  z-index: 1;
}

.fullscreen-image.scrolled {
  height: 50vh;
}

.fullscreen-image .logo {
  position: relative;
  z-index: 2;
  width: 30%; /* Adjust size as needed */
  margin-top: 25vh; /* Move logo to 1/4 height of the screen */
}

.fullscreen-image .arrow-down {
  position: absolute;
  bottom: 20px;
  animation: bounce 2s infinite;
  z-index: 2;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.content {
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

/* Menu styles */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.menu-item {
  margin: 0 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #555;
}

/* Features section */
.features {
  padding: 50px 20px;
  text-align: center;
  background-color: #e6f7f8;
}

.features .featureBox {
  margin-bottom: 20px;
}

.features .title {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(42, 182, 203);
}

.features .description {
  margin-top: 10px;
}

/* Testimonials section */
.testimonials {
  padding: 50px 20px;
  text-align: center;
  background-color: #ffffff;
}

.testimonials .testimonialBox {
  margin-bottom: 20px;
}

.testimonials .name {
  font-weight: bold;
}

.testimonials .feedback {
  margin-top: 10px;
}

/* Contact section */
.contact {
  padding: 50px 20px;
  text-align: center;
  background-color: #e6f7f8;
}

.contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact .button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: rgb(42, 182, 203);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

/* Gallery section */
/* .gallery {
  padding: 50px 20px;
  text-align: center;
  background-color: #e6f7f8;
}

.gallery .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery .image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(42, 182, 203);
} */

/* Footer styles */
.footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}



/* .nasze-domki {
  font-family: 'Comfortaa', cursive;
  padding: 20px;
  color: #333;
  background-color: #f9f9f9;
}

.nasze-domki .header {
  text-align: center;
  margin-bottom: 40px;
}

.nasze-domki .header h1 {
  font-size: 2.5rem;
  color: #2ab6cb;
}

.nasze-domki .header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.nasze-domki .content h2,
.nasze-domki .content h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #2ab6cb;
}

.nasze-domki .content ul {
  list-style-type: none;
  padding: 0;
}

.nasze-domki .content ul li {
  margin-bottom: 10px;
}

.nasze-domki .content p {
  margin-top: 20px;
}

.nasze-domki .content strong {
  color: #2ab6cb;
}

 */



