#nav {
  background-color: rgba(51, 51, 51, 0);
  transition: background-color 0.5s ease;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container {
  margin-left: 10px;
}

.logo {
  width: 100px; /* Zaktualizowana szerokość loga na większych ekranach */
}

.menu-icon {
  display: none; /* Ukryj domyślnie ikonkę na większych ekranach */
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ccc;
}

/* Styl dla menu po przewinięciu strony */
#nav.scrolled {
  background-color: rgba(51, 51, 51, 0.91);
}

@media (max-width: 768px) {
  /* Stylizacja dla ekranów mniejszych lub równych 768px */
  #nav {
    flex-direction: row;
    padding: 0;
    height: auto;
  }

  .logo {
    width: 80px; /* Zmniejsz szerokość loga na mniejszych ekranach */
  }

  .logo-container {
    margin: 10px 0;
  }

  .menu-icon {
    display: block; /* Wyświetl ikonkę na mniejszych ekranach */
    cursor: pointer;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.91);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  .nav-links.active {
    transform: translateY(0);
    z-index: 1;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links li a {
    padding: 10px 20px;
  }

  #nav.scrolled .nav-links {
    background-color: rgba(51, 51, 51, 0.91);
  }
}
