
  
  .kontakt-container {
    text-align: center;
    width: 100%;
    background-color: rgb(42, 182, 203);
    height: 100%;
  }
  
  .kontakt-header {
    background-color: rgb(42, 182, 203);
    color: white;
    width: 100%;
    height: 33vh; /* 1/3 wysokości strony */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Ensure no margin around the header */
  }
  
  .kontakt-content {
    background-color: rgb(42, 182, 203);
    width: 100%;
    padding: 20px;
    font-size: large;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
  }

    #root{
        background-color: rgba(240, 248, 255, 0);
    }