/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-blue-500 {
  background-color: rgb(42, 182, 203); /* Kolor tła dla nagłówka */
}

.text-white {
  color: #ffffff; /* Kolor tekstu białego */
}

.icons-page {
  padding: 20px;
  background-color: #f3f4f6; /* Tło dla sekcji ikon */
}

.category {
  margin-bottom: 40px;
  background-color: #ffffff; /* Tło dla kategorii */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cień */
  padding: 20px;
}

.category h2 {
  font-size: larger; /* Rozmiar tytułu kategorii */
  margin-bottom: 1rem;
}

ul {
  list-style-type: none; /* Wyłączenie punktorów */
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 40px; /* Rozmiar ikon */
  margin-right: 1rem;
  color: rgb(39, 154, 172); /* Kolor ikon */
}

.text-lg {
  font-size: 1.25rem; /* Rozmiar tekstu */
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.p-4 {
  padding: 1rem;
}

.bg-gray-100 {
  background-color: #f3f4f6c5;
}

.mb-8 {
  margin-bottom: 2rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-33vh {
  height: 33vh;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.list-disc {
  list-style-type: disc;
}

.pl-8 {
  padding-left: 2rem;
}

/* Dodatkowa responsywność */
@media (max-width: 768px) {
  .text-4xl {
    font-size: 1.75rem;
  }
  .text-2xl {
    font-size: 1.25rem;
  }
  .text-lg {
    font-size: 1rem;
  }
  .material-icons {
    font-size: 30px;
  }
}

.text-left {
  text-align: left; /* Przyciągnięcie tekstu do lewej strony */
}

.mt-2 {
  margin-top: 0.5rem; /* Odstęp nad sekcją opłat */
  margin-left: 32px;
}

.bg-gray-100 {
  margin-top: 2rem;
  padding: 1rem;
}
