.photo-gallery {
    width: 100%;
    padding: 0;
    overflow: hidden; /* Zapobiega pojawianiu się paska przewijania na stronie */
    align-items: center;
    justify-content: center;

  }
  
  .gallery-header {
    background-color: rgb(42, 182, 203);
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 33vh;
    display: flex;
    justify-content: center; /* Wyśrodkowanie zawartości w osi X */
    align-items: center; /* Wyśrodkowanie zawartości w osi Y */
    top: 0;
    left: 0;
  }
  
  .thumbnails-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 113px; /* Ustawia margines od góry, aby uniknąć zakrycia zawartości przez nagłówek */
    padding: 20px;
  }
  
  .thumbnail-wrapper {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .photo-thumbnail {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .photo-thumbnail:hover {
    transform: scale(1.1);
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  #n7x2{
    font-size: 40px;
  }
  